.product-grid-item-label {
  position: absolute;
  top: 11px;
  right: 10px;
  width: auto;
  height: 25px;
  z-index: 10;
}
.pgil__inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 0px 10px;
}
.pgil__text {
  font-size: 10px;
  font-weight: 600;
  line-height: 16px;
  color: #114b5f;
  margin: 0;
}
@media screen and (max-width: 500px) {
  .product-grid-item-label {
    position: absolute;
    top: 8px;
    right: 7px;
    width: auto;
    height: 25px;
    z-index: 10;
  }
  .pgil__inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 0px 10px;
  }
  .pgil__text {
    font-size: 10px;
    font-weight: 600;
    line-height: 16px;
    color: #114b5f;
  }
}
